.main_content_div{
    width: 100%;
    padding: 20px;

    

}
div.rounded{
    height:200px;
    width: 200px;
    position: relative;
}

div.rounded img{
     border-radius: 50%;
     position:absolute;
     left:25%;
     transform: translate(0, -5);
     
}

ion-item{
    --ion-background-color:#f3f3f3;
    border-radius: 5px !important;
    margin-top: 5px;
}
